/* NAVBAR */

.navbar { min-height: 92px; margin-bottom: 0;}

.navbar-brand {
	padding: 0 30px;
  margin-top: 25px;
}

.navbar-toggle {
  margin-top: 18px;
  margin-right: 0;
  padding: 9px 4px !important;
}

.navbar-toggle.collapsed {
  padding: 9px 10px !important;
}

/* Sticky menu */
.sticky-transparent-header {
	background-color: #ffffff;
  transition: 500ms ease;
}
.sticky-transparent-header.affix {
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
  border-bottom: 1px solid #e6e6e6;
}
/* Sticky menu */

/* Ovverride font styles */
.navbar-default {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  position: relative;
  background-color: #ffffff;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a,
.navbar .dropdown-menu > li > a{
  font-weight: bold;
  color: #1c1d1e;
}
/* Navbar links */

/* Active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1c1d1e;
  background-color: transparent;
}
/* Active link */

/* Dropdown Menu */
.navbar .dropdown-menu{
  padding: 0;
}
.navbar .dropdown-menu > li > a{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 12px;
}
.navbar .dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover{
  color: #ffffff;
  background-color: #1485ca;
}
/* Highlight Parent Menu Item while Child Menu Item is active */
.navbar-nav > li.dropdown.current-menu-ancestor > a{ color: #1c1d1e; }
/* Highlight Parent Menu Item while Child Menu Item is active */

/* Active dropdown item */
.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus{
  color: #ffffff !important;
  background-color: #1485ca;
}
/* Active dropdown item */

/* Dropdown Menu */

/* Hamburger */
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  height: 4px;
  width: 23px;
  background-color: #1c1d1e;
  transition: transform 0.2s;
}
/* Hamburger */

/* Animate hamburger */
.header5 .navbar-toggle {
  border-radius: 20px;
  background-color: transparent;
  border-radius: 20px;
}

.header5 .navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.header5 .navbar-toggle .middle-bar {
  opacity: 0;
}
.header5 .navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: -10% 58%;
}
.header5 .navbar-toggle.collapsed .top-bar,
.header5 .navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.header5 .navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
/* Animate hamburger */

/* Header Right */

/* Social Icons */
.header5 .btn-edition{
  padding: 23.5px 0;

  padding: 16px 0;
}
.header5 .btn-edition > a {
  display: inline-block;
  color: #ffffff;
  line-height: 28px;
  font-weight:900;
  text-align: center;
  padding: 16px 32px;
  border-radius: 32px;
  border: 0;
  outline: none;
  text-decoration: none;
  background: linear-gradient(140deg, rgba(27,50,121,1) 0%, rgba(31,133,195,1) 100%);
}

.header5 .btn-edition > a:not(:first-child){
  margin-left: 8px;
}

.header5 .btn-edition > a > i{
  font-size: 16px;
}


/* SOW GLS HERO */
.gls-hero{
	width: 100%;
  display: flex;
  background-color: #1c1d1e;
  justify-content: space-between;
	font-family: 'Mulish';
}

.gls-hero .hero-content{
  color: #ffffff;
  background-color: #1c1d1e;
  padding: 100px 0 100px 180px;
  width: 50%;
}

.gls-hero .hero-content > h6{
  font-size: 20px;
  font-weight: bold;
  color: #febd30;
}

.gls-hero .hero-content > h2{
  font-size: 40px;
  line-height: 50px;
}

.gls-hero .hero-content p{
  font-size: 18px;
}

.gls-hero .hero-img{
  width: 48%;
	position: relative;
}

#gls-bs-slider.carousel,
#gls-bs-slider .carousel-inner,
#gls-bs-slider .carousel-inner > .item,
#gls-bs-slider .item-body{ height:100%; }
#gls-bs-slider .item img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gls-hero .hero-btn{
  display: inline-block;
  font-weight: 900;
	color: #ffffff;
  border: 3px solid #ffffff;
  font-size: 18px;
  text-decoration: none !important;
  padding: 1em 2em;
  border-radius: 1.5em;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
	margin-top: 20px;
}

.gls-hero .hero-btn.btn-read-more,
.gls-hero .hero-btn.btn-read-less{
  margin-right: 30px;
}

.gls-hero .hero-btn.btn-contact{
	color: #ffffff;
  background: #febd30;
  border: 1px solid #febd30;
}

.gls-hero .hero-content > .section { display:none; }

/* MEDIA QUERIES */
@media screen and (min-width: 769px) and (max-width:1024px){
  .navbar-brand > img {
    height: 25px;
    margin-top: 5px;
  }
  .header5 .navbar-nav {
    text-align: left !important;
  }
  .header5 .nav > li:not(:last-child) {
    margin-right: 20px !important;
    font-size: 16px;
  }
}

@media(max-width: 1024px){
	/* SOW GLS HERO */
	.gls-hero .hero-content{
		padding: 80px 24px;
	}
}

@media( min-width: 769px ){

  /* Ovverride default BS3 styles */
  .header5.navbar-default{
    width: 90%;
    margin: 0 auto;
  }
  .header5 .navbar-collapse{padding: 0;}
  .header5 .container-fluid{ padding: 0;}
	.header5 .navbar-nav{
  	float: none;
  	text-align: center;
	}
	.header5 .nav > li {
		float: none;
		display: inline-block;
	}

  .navbar-default .navbar-nav > li:not(:last-child){ margin-right: 25px; }
  .navbar-default .navbar-nav > li > a{
    position: relative;
    padding: 32px 0;
  }

  .navbar-default .navbar-nav > li > a::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 18px;
    bottom: 30px;
    height: 2px;
    width: 0;
    background: #1485ca;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
  .navbar-default .navbar-nav > .active > a::before,
  .navbar-default .navbar-nav > .active > a:hover::before,
  .navbar-default .navbar-nav > .active > a:focus::before,
  .navbar-nav > li.dropdown.current-menu-ancestor > a::before,
  .navbar-nav > li.dropdown:hover > a::before,
  .navbar-default .navbar-nav > li > a:hover::before{
    left: 0;
    width: 100%;
  }

  /* TEAM EDITION BUTTON */
  .header5 .nav > li.btn-wrapper{
    float: right !important;
  }

  /* BS3 Nav Links */
  .navbar-nav > li > a {
    line-height: 27px;
  }

	/* SOW GLS HERO */
	.gls-hero .hero-btn.btn-read-more:hover,
	.gls-hero .hero-btn.btn-read-less:hover{
	  border-color: #fec344;
	  color: #fec344;
	}
	.gls-hero .hero-btn.btn-contact:hover{
	  background: #fec344;
	  border-color: #fec344;
	}

}

@media only screen and (max-width: 768px) and (min-width: 768px){
  .header5 .logo.logo-normal{ margin-left: 15px; }
  .header5 .navbar-brand{ margin-top: 17px !important; }
  .header5 .navbar-nav{ margin: 0 !important; }
  #bs-example-navbar-collapse-1,
  .navbar.header5 > .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }

}


@media(max-width: 768px){

  .sticky-transparent-header .navbar-nav{
    background-color: #ffffff;
  }

  .header5.navbar-default{
    min-height: 70px
  }

  .header5 .navbar-brand{
  	padding: 0 9px;
    height: 40px;
    margin-top: 22px;
  }

  .navbar-brand .visible-xs{
    max-width: 230px;
  }

  .header5 .navbar-nav{
    margin: 0 -15px;
  }

  .header5.navbar-default .navbar-nav li a:not(.btn-wrapper a),
  .header5 .navbar .dropdown-menu > li > a{
    font-weight: bold !important;
    color: #1c1d1e;
    text-align: center;
  }

  .header5 .btn-wrapper{
    float: none !important;
  }
  .header5 .btn-edition{
    text-align: center;
  }

  .header5 .btn-edition > a{
    border-color: #ffffff;
  }

	/* SOW GLS HERO */
	.gls-hero .hero-img{ display: none; }
	.gls-hero .hero-content{ width: 100%; padding: 80px 15px; }

}
