/* NAVBAR */

.navbar { min-height: 92px; margin-bottom: 0;}

.navbar-brand {
	padding: 0 30px;
  margin-top: 25px;
}

.navbar-toggle {
  margin-top: 18px;
  margin-right: 0;
  padding: 9px 4px !important;
}

.navbar-toggle.collapsed {
  padding: 9px 10px !important;
}

/* Sticky menu */
.sticky-transparent-header {
	background-color: #ffffff;
  transition: 500ms ease;
}
.sticky-transparent-header.affix {
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
  border-bottom: 1px solid #e6e6e6;
}
/* Sticky menu */

/* Ovverride font styles */
.navbar-default {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  position: relative;
  background-color: #ffffff;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a,
.navbar .dropdown-menu > li > a{
  font-weight: bold;
  color: #1c1d1e;
}
/* Navbar links */

/* Active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1c1d1e;
  background-color: transparent;
}
/* Active link */

/* Dropdown Menu */
.navbar .dropdown-menu{
  padding: 0;
}
.navbar .dropdown-menu > li > a{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 12px;
}
.navbar .dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover{
  color: #ffffff;
  background-color: #1485ca;
}
/* Highlight Parent Menu Item while Child Menu Item is active */
.navbar-nav > li.dropdown.current-menu-ancestor > a{ color: #1c1d1e; }
/* Highlight Parent Menu Item while Child Menu Item is active */

/* Active dropdown item */
.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus{
  color: #ffffff !important;
  background-color: #1485ca;
}
/* Active dropdown item */

/* Dropdown Menu */

/* Hamburger */
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  height: 4px;
  width: 23px;
  background-color: #1c1d1e;
  transition: transform 0.2s;
}
/* Hamburger */

/* Animate hamburger */
.header5 .navbar-toggle {
  border-radius: 20px;
  background-color: transparent;
  border-radius: 20px;
}

.header5 .navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.header5 .navbar-toggle .middle-bar {
  opacity: 0;
}
.header5 .navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: -10% 58%;
}
.header5 .navbar-toggle.collapsed .top-bar,
.header5 .navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.header5 .navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
/* Animate hamburger */

/* Header Right */
.header5 .btn-edition{
  padding: 23.5px 0;
  padding: 16px 0;
}
.header5 .btn-edition > a {
  display: inline-block;
  color: #ffffff;
  line-height: 28px;
  font-weight:900;
  text-align: center;
  padding: 16px 32px;
  border-radius: 32px;
  border: 0;
  outline: none;
  text-decoration: none;
  background-color: #337ab7;
}

/* DROP MENU TOGGLER */
.header5 .navbar-nav li a .menu-toggler {
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 20;
  line-height: 1;
  font-size: 17px;
  color: #313131;
	padding: 11px 0 11px 10px;
}


/* SOW GLS HERO */
.gls-hero{
	width: 100%;
  display: flex;
  background-color: #1c1d1e;
  justify-content: space-between;
	font-family: 'Mulish';
}

.gls-hero .hero-content{
  color: #ffffff;
  background-color: #1c1d1e;
  padding: 100px 0 100px 180px;
  width: 50%;
}

.gls-hero .hero-content > h6{
  font-size: 20px;
  font-weight: bold;
  color: #febd30;
}

.gls-hero .hero-content > h2{
  font-size: 40px;
  line-height: 50px;
}

.gls-hero .hero-content p{
  font-size: 18px;
}

.gls-hero .hero-img{
  width: 48%;
	position: relative;
}

#gls-bs-slider.carousel,
#gls-bs-slider .carousel-inner,
#gls-bs-slider .carousel-inner > .item,
#gls-bs-slider .item-body{ height:100%; }
#gls-bs-slider .item img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gls-bs-slider .carousel-indicators li{
	width: 12px;
	height: 12px;
	border: 1px solid #febd30;
	border-radius: 12px;
	background-color: #febd30;
	opacity: 0.6;
}
#gls-bs-slider .carousel-indicators .active{
	margin: 1px;
	background-color: #febd30;
	opacity: 1;
}

.gls-hero .hero-btn{
  display: inline-block;
  font-weight: 900;
	color: #ffffff;
  border: 3px solid #ffffff;
  font-size: 18px;
  text-decoration: none !important;
  padding: 1em 2em;
  border-radius: 1.5em;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
	margin-top: 20px;
}

.gls-hero .hero-btn.btn-read-more,
.gls-hero .hero-btn.btn-read-less{
  margin-right: 30px;
}

.gls-hero .hero-btn.btn-contact{
	color: #ffffff;
  background: #febd30;
  border: 1px solid #febd30;
}

.gls-hero .hero-content > .section { display:none; }

/* SOW GLS LOGO SLIDER */

/* SLICK DOTS */
.gls-logo-slider ul.slick-dots{
	opacity: 0;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	list-style: none;
	text-align: center;
	display: block;
	margin-top: 23px;
	padding: 0;
}
.gls-logo-slider.loaded ul.slick-dots{ opacity: 1; }
.gls-logo-slider ul.slick-dots li{ display: inline-block; line-height: 1; }
.gls-logo-slider ul.slick-dots li button{
	display: inline-block;
	width: 10px;
	height: 10px;
	font-size: 0;
	padding: 0;
	margin: 0 4px;
	cursor: pointer;
	background: transparent;
	outline: none;
	vertical-align: top;
	border: 2px solid #febd30;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}
.gls-logo-slider ul.slick-dots li button:hover,
.gls-logo-slider ul.slick-dots li.slick-active button{ background: #febd30; border-color: #febd30; }

/* SLICK ARROWS */
.gls-logo-slider button.slick-prev,
.gls-logo-slider button.slick-next{
	position: absolute;
	height: 46px;
	display: inline-block;
	top: 45%;
	transform: translateY(-45%);
	margin-top: -18px;
	cursor: pointer;
	outline: none;
	opacity: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	text-align: center;
	line-height: 46px;
	background: transparent;
	z-index: 12;
	color: #febd30;
	padding: 0;
	border: none;
	text-align: center;
}
.gls-logo-slider.loaded button.slick-prev,
.gls-logo-slider.loaded button.slick-next { opacity: 1; }
.gls-logo-slider > button.slick-prev{
	left: -20px;
}
.gls-logo-slider > button.slick-next{
	right: -20px;
}

.gls-logo-slider.loaded button i{
	font-size: 46px;
	line-height: 46px;
	height: 100%;
}

.gls-logo-slider .redirect-url:focus,
.gls-logo-slider .redirect-url img:focus-visible{
	outline: none;
}

/* SOW GLS USER POPUP */
.articles-users{ display: grid; grid-template-columns: repeat( 3, 1fr ); grid-gap: 20px; }
.articles-users .gls-user-body{
  background-color: #f5983d;
  /* transition: all 0.3s; */
	height: 100%;
	display: flex;
  flex-direction: column;
  justify-content: space-between;

	-webkit-transition: all 300ms ease-in;
	-ms-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}
.articles-users .gls-user-card:nth-child(even) .gls-user-body{
  background-color: #1485ca;
}

.articles-users .gls-user-body:hover{
	cursor: pointer;
	box-shadow: 0 0 11px rgba(33,33,33,.8);
	-webkit-transform: scale(1);
	-ms-transform: scale(1.02);
	-moz-transform: scale(1.02);
	transform: scale(1.02);
}
.articles-users .gls-user-body .user-thumbnail-bg,
#gls-user-modal .gls-user-body .user-thumbnail-bg{
  width: 100%;
  max-width: 100%;
	min-height: 380px;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: inherit;
  margin-left: auto;
}
#gls-user-modal .gls-user-body .user-thumbnail-bg{
	width: 100%;
  max-width: 181px;
  min-height: 181px;
}

#gls-user-modal .gls-user-body .user-thumbnail-bg{ align-self: start; margin: 0;}
.gls-user-body .user-meta { overflow: hidden; }
#gls-user-modal .gls-user-body .user-meta {
  height: 120px;
  overflow: hidden;
  margin-left: 16px;
  margin-top: 0;
}
.gls-user-body .user-meta .name{
	padding: 15px;
	font-size: 18px;
  font-weight: 600;
	color: #ffffff;
	text-align: left;
	letter-spacing: 3px;
}
#gls-user-modal .gls-user-body .user-meta .name{ color: #000000; }

a[data-behaviour~="gls-user-popup"]{ text-decoration: none; display: block; height: 100%; }
/* USER MODAL */
#gls-user-modal .modal-dialog{ width: 700px; height: 500px; top: 18%; }
#gls-user-modal .modal-content{ border-radius: 4px; }
#gls-user-modal .modal-header{ margin:40px 44px 0; padding:0; border:none; }
#gls-user-modal .modal-body{ padding: 0; }
#gls-user-modal a.close{ color: #748093; font-size: 30px; font-weight: 400; opacity: 1; }
#gls-user-modal a.close:focus{ outline: none; }
#gls-user-modal .gls-user-body{ margin:35px 44px 50px; }
#gls-user-modal .gls-user-body .user-meta{ height: auto; margin-left: 10px; }
#gls-user-modal .gls-user-body .user-meta .name{ font-size: 24px; margin: 0; padding: 0; }
#gls-user-modal .gls-user-body .user-meta .separator{ width: 40px; margin: 20px 0; height: 4px; background-color: #00AEEF; }
#gls-user-modal .gls-user-body .user-meta .bio{ font-size: 16px; line-height: 18px; color: #3B495E; }
/* USER MODAL */


/* MEDIA QUERIES */
@media screen and (min-width: 769px) and (max-width:1024px){
  .navbar-brand > img {
    height: 25px;
    margin-top: 5px;
  }
  .header5 .navbar-nav {
    text-align: left !important;
  }
  .header5 .nav > li:not(:last-child) {
    margin-right: 20px !important;
    font-size: 16px;
  }
}

@media(max-width: 1024px){
	/* SOW GLS HERO */
	.gls-hero .hero-content{
		padding: 80px 24px;
	}
}

@media( min-width: 769px ){

  /* Ovverride default BS3 styles */
  .header5.navbar-default{
    width: 90%;
    margin: 0 auto;
  }
  .header5 .navbar-collapse{padding: 0;}
  .header5 .container-fluid{ padding: 0;}
	.header5 .navbar-nav{
  	float: none;
  	text-align: center;
	}
	.header5 .nav > li {
		float: none;
		display: inline-block;
	}

  .navbar-default .navbar-nav > li:not(:last-child){ margin-right: 25px; }
  .navbar-default .navbar-nav > li > a{
    position: relative;
    padding: 32px 0;
  }

  .navbar-default .navbar-nav > li > a::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 18px;
    bottom: 30px;
    height: 2px;
    width: 0;
    background: #1485ca;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
  .navbar-default .navbar-nav > .active > a::before,
  .navbar-default .navbar-nav > .active > a:hover::before,
  .navbar-default .navbar-nav > .active > a:focus::before,
  .navbar-nav > li.dropdown.current-menu-ancestor > a::before,
  .navbar-nav > li.dropdown:hover > a::before,
  .navbar-default .navbar-nav > li > a:hover::before{
    left: 0;
    width: 100%;
  }

  /* TEAM EDITION BUTTON */
  .header5 .nav > li.btn-wrapper{
    float: right !important;
  }

  /* BS3 Nav Links */
  .navbar-nav > li > a {
    line-height: 27px;
  }

	/* SOW GLS HERO */
	.gls-hero .hero-btn.btn-read-more:hover,
	.gls-hero .hero-btn.btn-read-less:hover{
	  border-color: #fec344;
	  color: #fec344;
	}
	.gls-hero .hero-btn.btn-contact:hover{
	  background: #fec344;
	  border-color: #fec344;
	}

}

@media(min-width: 768px){
  #gls-user-modal .gls-user-body{ display: grid; grid-template-columns: 200px 1fr; }
}

@media only screen and (max-width: 768px) and (min-width: 768px){
  .header5 .logo.logo-normal{ margin-left: 15px; }
  .header5 .navbar-brand{ margin-top: 17px !important; }
  .header5 .navbar-nav{ margin: 0 !important; }
  #bs-example-navbar-collapse-1,
  .navbar.header5 > .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }

	/* SOW GLS USER POPUP */
  #gls-user-modal .modal-dialog{ width: 700px !important; height: 500px !important; top: 20% !important; }
  #gls-user-modal .modal-header{ margin:20px 44px 30px !important; }

}


@media(max-width: 768px){

  .sticky-transparent-header .navbar-nav{
    background-color: #ffffff;
  }

  .header5.navbar-default{
    min-height: 70px
  }

  .header5 .navbar-brand{
  	padding: 0 9px;
    height: 40px;
    margin-top: 22px;
  }

  .navbar-brand .visible-xs{
    max-width: 230px;
  }

  .header5 .navbar-nav{
    margin: 0 -15px;
  }

  .header5.navbar-default .navbar-nav li a:not(.btn-wrapper a),
  .header5 .navbar .dropdown-menu > li > a{
    font-weight: bold !important;
    color: #1c1d1e;
    text-align: center;
  }

  .header5 .btn-wrapper{
    float: none !important;
  }
  .header5 .btn-edition{
    text-align: center;
  }

  .header5 .btn-edition > a{
    border-color: #ffffff;
  }

	/* SOW GLS HERO */
	.gls-hero .hero-img{ display: none; }
	.gls-hero .hero-content{ width: 100%; padding: 80px 15px; }

	/* SOW GLS LOGO SLIDER */
	.gls-logos-wrapper{
		width: 98%;
		margin: 0 auto;
		padding: 36px 30px 36px;
	}

	/* SOW GLS USER POPUP */
  .articles-users{ grid-template-columns: repeat( 2, 1fr );  }
  #gls-user-modal .modal-dialog { width: 95%; margin: 0 auto; top: 6%; }
  .articles-users .gls-user-body .user-thumbnail-bg{ margin: 0 auto; }
  .articles-users .gls-user-body .user-meta{ text-align: center; }
  #gls-user-modal .gls-user-body .user-meta { margin-left: 0px; margin-top: 3%; }
  #gls-user-modal .gls-user-body { margin: 0px 15px 20px; }
  #gls-user-modal .modal-header { margin: 20px 15px 10px; }

	/* DROP MENU TOGGLER */
	.navbar-nav li.dropdown:hover ul.dropdown-menu,
	.navbar-nav>li>.dropdown-menu{ display: none; }
	.header5 .navbar-nav .caret{ display: none; }

}

@media(max-width: 500px){ .articles-users{ grid-template-columns: repeat( 1, 1fr ); } }
